<li class="list-item project-row">
  <div class="project-row__health">
    <%= team_health_indicator(team) %>
  </div>
  <div class="project-row__text">
    <div class="project-title-row">
      <%= link_to team.name, team_path(team), class: 'project-name' %>
    </div>
    <div class="muted project-description"><%= truncate(team.mission.to_s, length: 80) %></div>
    <% if team.point_of_contact.present? %>
      <div class="muted project-poc"><%= team.point_of_contact %></div>
    <% end %>
  </div>
  <div class="project-row__badges">
    <div class="badges">
      <% if team.archived %>
        <span class="badge archived">archived</span>
      <% end %>
    </div>
  </div>
</li>
