<li class="project-item-v2 project-item-v2--header">
  <div class="project-item-v2__grid project-item-v2__grid--header">
    <span class="project-item-v2__col project-item-v2__col--health"></span>
    <span class="project-item-v2__col project-item-v2__col--name project-item-v2__header-label">Name</span>
    <span class="project-item-v2__col project-item-v2__col--state project-item-v2__header-label">State</span>
    <span class="project-item-v2__col project-item-v2__col--meta project-item-v2__header-label">Last update</span>
    <span class="project-item-v2__col project-item-v2__col--comment project-item-v2__header-label">Comment</span>
  </div>
</li>
