<%= turbo_stream.replace "related-projects-section" do %>
  <%= render "shared/projects_section",
      frame_id: "related-projects-section",
      projects: @initiative.related_projects,
      show_form: true,
      create_url: add_related_project_initiative_path(@initiative.id),
      tooltip: 'Projects related to this initiative. Each project contributes equally to initiative health. Only top-level projects can be added.' %>
<% end %>
<%= turbo_stream.append "toast-container" do %>
  <div class="toast toast--success toast--visible" data-controller="toast">Related project created!</div>
<% end %>
