.DS_Store
.AppleDouble
.LSOverride

/.bundle
/.byebug_history
/.yardoc
/_yardoc
/.rspec_status

/coverage/
/log/
/tmp/
/vendor/bundle/

*.swp
*.swo
*.sqlite3
*.sqlite3-*

.env
.env.*
.envrc

.idea/
.vscode/
*.iml

# Ignore key files for decrypting credentials and more.
/config/*.key

