.DS_Store
.AppleDouble
.LSOverride

/.bundle
/.byebug_history
/.yardoc
/_yardoc
/.rspec_status

/coverage/
/log/
/tmp/
/vendor/bundle/

/db/*.sqlite3
/db/*.sqlite3-journal

*.swp
*.swo
*.sqlite3
*.sqlite3-journal

.env
.env.*
.envrc

.idea/
.vscode/
*.iml


# Ignore key files for decrypting credentials and more.
/config/*.key

