<%
  project = local_assigns[:project]
  health_summary = local_assigns[:health_summary]
  project_health = local_assigns[:project_health]
  trend_data = local_assigns[:trend_data] || []
  trend_direction = local_assigns[:trend_direction] || :stable
  trend_delta = local_assigns[:trend_delta] || 0
  weeks_of_data = local_assigns[:weeks_of_data] || 0
  confidence_score = local_assigns[:confidence_score] || 0
  confidence_level = local_assigns[:confidence_level] || :low
  confidence_factors = local_assigns[:confidence_factors] || {}
%>

<turbo-frame id="metrics-row">
<div class="initiative-dashboard-v2">
  <div class="metrics-row-v2">
    <%= render "projects/health_widget",
        project: project,
        project_health: project_health,
        health_summary: health_summary %>

    <%= render "projects/trend_widget",
        weeks_of_data: weeks_of_data,
        trend_direction: trend_direction,
        trend_delta: trend_delta,
        trend_data: trend_data %>

    <%= render "projects/confidence_widget",
        confidence_score: confidence_score,
        confidence_level: confidence_level,
        confidence_factors: confidence_factors %>
  </div>
</div>
</turbo-frame>
