<%= turbo_stream.replace "child-projects-section" do %>
  <%= render "projects/child_projects", project: @project, project_record: @project_record %>
<% end %>

<%= turbo_stream.append "toast-container" do %>
  <div class="toast toast--success toast--visible" data-controller="toast" data-action="click->toast#click">
    Child project "<%= @child_project.name %>" created!
  </div>
<% end %>
