<%= turbo_stream.replace "child-projects-section" do %>
  <%= render "shared/projects_section",
      frame_id: "child-projects-section",
      projects: @project.children,
      show_form: true,
      create_url: subordinates_project_path(@project.id) %>
<% end %>

<%= turbo_stream.append "toast-container" do %>
  <div class="toast toast--success toast--visible" data-controller="toast" data-action="click->toast#click">
    Child project "<%= @child_project.name %>" created!
  </div>
<% end %>
